
<div>
  <div class="action">
    <button nz-button (click)="true">錄製</button>
  </div>
  <div class="action">
    <button nz-button [disabled]='action_btn' (click)="play()">播放</button>
  </div>
</div>
<input nz-input>
<div class="rrwebplayer" style="border: 1px solid black;"></div>

