<h1>{{title}}</h1>
<nav>
  <ul>
    <li>
      <a [routerLink]="['/main/content']" [ngClass]="{'bg': classname, 'com': classname2} "  [ngStyle]="changestyle()">用戶管理</a>
    </li>
    <li>
      <a [routerLink]="['/main/father']" [ngStyle]="changestyle()">父子組件傳值</a>
    </li>
    <li>
      <a [routerLink]="['/main/direct']" [ngStyle]="changestyle()">屬性型指令</a>
    </li>
    <li>
      <a [routerLink]="['/main/structure']" [ngStyle]="changestyle()">自定義結構型指令</a>
    </li>
    <li>
      <a [routerLink]="['/main/pipestudy']" [ngStyle]="changestyle()">管道</a>
    </li>
    <li>
      <a [routerLink]="['/main/hook']" [ngStyle]="changestyle()">生命周期鈎子</a>
    </li>
    <li>
      <a [routerLink]="['/main/dynamic']" [ngStyle]="changestyle()">動態加載組件</a>
    </li>
    <li>
      <a [routerLink]="['/main/music']" [ngStyle]="changestyle()">music</a>
    </li>
    <li>
      <a (click)="clickTable()" [ngStyle]="changestyle()">表格加載</a>
    </li>
    <li>
      <a [routerLink]="['/main/animation']" [ngStyle]="changestyle()">动画</a>
    </li>
    <li>
      <a [routerLink]="['/main/dynamicform']" [ngStyle]="changestyle()">动态表单</a>
    </li>
    <li>
      <a [routerLink]="['/main/file']" [ngStyle]="changestyle()">文件系統</a>
    </li>
  </ul>
</nav>
<section>
  <div class="composite-slider slider-wrapper">
    <d-slider [(ngModel)]="inputValue2" [min]="minValue" [max]="maxValue" class="slider" (ngModelChange)="showVal($event)"></d-slider>
    <div class="snapshot-value">
      <input [(ngModel)]="inputValue2" style="width: 40px" class="devui-input" />
    </div>
    <span>{{ minValue }}</span>
    <span>{{ maxValue }}</span>
  </div>
</section>



