<nz-layout>
  <header>
    <div class="head-user">
      <i nz-icon nzType="user" nzTheme="outline" (click)="visible=true"></i>
      <!-- <nz-avatar nz-tooltip nzIcon="user" nzTheme="outline" (click)="visible=true"></nz-avatar> -->
      <nz-drawer
        [nzClosable]="false"
        [nzVisible]="visible"
        nzPlacement="left"
        (nzOnClose)="visible=false"
        [nzWidth]='170'
      >
        <ng-container *nzDrawerContent>
          <div class="user-info-header">

            <nz-avatar nzIcon="user" nzSize="large"></nz-avatar>
            <span>{{id}}</span>

          </div>
          <!-- <div class="user-info-content">

          </div> -->
          <div class="user-info-footer">
            <button nz-button nzType="primary" (click)="loginService.loginOut()">Login Out</button>
          </div>

        </ng-container>
      </nz-drawer>
    </div>

  </header>

  <nz-content>

    <div class="room_pad">

      <nz-input-group *ngIf="shownameinput" class="room_input" [nzSuffix]="suffixIconSearch">
        <input type="text" nz-input placeholder="room name" [(ngModel)]="roomid" />
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <button nz-button nzType="primary" nzSearch (click)="joinRoom()">Join</button>
      </ng-template>

      <nz-table
        #roomlistdata
        nzBordered
        *ngIf="shownameinput"
        class="roomlist-table"
        [nzData]='roomlist'
        [nzPageSize]='6'
        [nzHideOnSinglePage] = true
      >
        <thead>
          <tr><th>房間名</th><th>action</th></tr>
        </thead>
        <tbody>
          <tr *ngFor="let rl of roomlistdata.data">
            <td>{{rl.roomid}}</td>
            <td><a (click)="joinRoom(rl.roomid)">加入</a></td>
          </tr>
        </tbody>
      </nz-table>

      <div *ngIf="showRoom">
        <div class="room_header" > <!-- 房間訊息 -->
          <i nz-icon nzType="info-circle" nzTheme="twotone"
            nz-popover [nzPopoverTitle]="roomid" [nzPopoverContent]="contentTemplate" nzPopoverTrigger="click" nzPopoverPlacement="bottomLeft"
          >
          </i>

          <ng-template #contentTemplate>
            <div>
              <span>在线：</span><span>{{nums}}</span>
            </div>
          </ng-template>
          <span>房間名: {{roomid}}</span>
        </div>

        <!-- <cdk-virtual-scroll-viewport itemSize="20" class="message-borad"> -->
          <nz-list class="message-borad">
            <nz-list-empty *ngIf="!chatMessages.length"></nz-list-empty><!-- 空狀態 -->
            <!-- 訊息顯示 -->
            <!-- <ng-container *cdkVirtualFor="let item of chatMessages"> -->
            <ng-container *ngFor="let item of chatMessages">

              <nz-list-item [ngStyle]="{'justify-content': item.id == id ? 'flex-end' : 'flex-start'}">
                <!-- 自己發的訊息靠右對齊 -->
                <ng-container *ngIf="item.id == id; else elseTemplate">
                  <div class="chat-bubble chat-bubble-right">
                    <p>{{ item.content }}</p>
                  </div>
                  <!-- 頭像 -->
                  <nz-avatar
                    [ngStyle]="{ 'background-color': item.color }"
                    [nzText]="item.id"
                    [nzShape]="'square'"
                    style="vertical-align: middle;"
                  ></nz-avatar>
                </ng-container>
                <ng-template #elseTemplate>
                  <nz-avatar
                    [ngStyle]="{ 'background-color': item.color }"
                    [nzText]="item.id"
                    [nzShape]="'square'"
                    style="vertical-align: middle;"
                  ></nz-avatar>
                  <div class="chat-bubble chat-bubble-left">
                    <p>{{ item.content }}</p>
                  </div>
                </ng-template>

              </nz-list-item>

            </ng-container>

          </nz-list>
        <!-- </cdk-virtual-scroll-viewport> -->


        <nz-input-group class="room_input" [nzAddOnAfter]="suffixBtnSend" nzSearch >
          <input type="text" nz-input placeholder="input text"  [(ngModel)]="message" (keyup.enter)="showMessage()"/>
        </nz-input-group>
        <ng-template #suffixBtnSend>
          <button nz-button nzType="primary" (click)="showMessage()"s nzSearch >Send</button>
        </ng-template>

        <div class="leave_room">
          <button nz-button nzType="primary" (click)="leaveRoom()">
            <i nz-icon nzType="left"></i>
            Back
          </button>
        </div>
      </div>


    </div>

  </nz-content>
  <nz-footer>demo project by europe</nz-footer>

</nz-layout>
