nz-layout {
  width: 100vw;
  height: 100vh;
}


.head-user {
  margin: 12px;
}

.head-user i {
  font-size: 28px;
}

.user-info-header span {
  margin: 10px;
  font-size: 20px;
}

.user-info-footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
}

nz-footer {
  text-align: center;
  padding: 15px;
}

nz-content {
  padding: 0 50px;
}

.room_pad {
  text-align: center;
  background: #fff;
  padding: 24px;
  height: 100%;
}

.room_input {
  max-width: 300px;
  margin-top: 15px;
  padding: 0px 0px 0px 6px;
}

.message-borad {
  height: 400px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  overflow-y: auto;
  max-width: 300px;
  margin: 5px auto;
}

.leave_room {
  margin-top: 20px;
}

nz-list-item {
  padding-left: 10px;
}

.room_header {
  font-size: 20px;
}
.room_header span {
  margin-left: 8px;
}

.content {
  border-radius: 10px;
}

.chat-bubble{
  position: relative;
  margin: 0px 12px;
  padding:5px 8px;
  background:#87d068;
  border-radius: 5px;
  display: inline-block;
}

.chat-bubble-left:before {
  content: '';
  position: absolute;
  left: -18px;
  top:4px;
  border: 13px solid #87d068;
  border-color: transparent #87d068 transparent  transparent ;
}

.chat-bubble-right::after {
  content: '';
  position: absolute;
  right: -18px;
  top: 4px;
  border: 13px solid #87d068;
  border-color: transparent transparent transparent  #87d068 ;
}

.chat-bubble p {
    margin: 0px;
    max-width: 300px;
}

.ant-list-split .ant-list-item {
  border-bottom: none;
  padding: 12px;
}

.roomlist-table {
  max-width: 300px;
  margin: 15px auto;
  border-radius: 5px;
}

