
@media screen and (min-width: 575px) {
  .login {
    width: 250px;
    position: absolute;
    top: 30%;
    left: 42%;
  }
  .input {
    margin-bottom: 10px;
  }
  .restart {
    position: absolute;
    right: 0%;
  }
}
@media screen and (max-width: 575px) {
  .login {
    margin: 100px 20px;
  }

  .input {
    margin-bottom: 10px;
  }

  .login button {
    display: block;
    width: 100%;
    height: 28px;
    margin-bottom: 10px;
  }
}
