<!-- <form nz-form [nzLayout]="'inline'" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your username!">
      <nz-input-group [nzPrefix]="Prefixuser" [nzSuffix]="suffixIconInfo">
        <input formControlName="userName" nz-input placeholder="Username" />
      </nz-input-group>
      <ng-template #Prefixuser><i nz-icon nzType="user"></i></ng-template>
      <ng-template #suffixIconInfo><i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="長度小於20"></i></ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Please input your Password!">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <button nz-button nzType="primary" [disabled]="!validateForm.valid">Log in</button>
    </nz-form-control>
  </nz-form-item>
</form> -->

<div class="login">
  <form [formGroup]='validateForm' (ngSubmit)="submitForm()">
    <div class="input">
      <nz-input-group [nzPrefix]="Prefixuser" [nzSuffix]="suffixIconInfo">
        <input formControlName="userName" nz-input placeholder="Username" />
      </nz-input-group>
      <ng-template #Prefixuser><i nz-icon nzType="user"></i></ng-template>
      <ng-template #suffixIconInfo><i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="長度小於20"></i></ng-template>
    </div>
    <div class="input">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </div>
    <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid">Log in</button>
    <button nz-button nzType="primary" type="button"  class="restart" (click)='restart()'>restart</button>
  </form>
</div>

