

<div *ngIf="showLogin" class="login">
  <form [formGroup]='validateForm' (ngSubmit)="submitForm()">
    <div class="input">
      <nz-input-group [nzPrefix]="Prefixuser" [nzSuffix]="suffixIconInfo">
        <input formControlName="userName" nz-input placeholder="Username" />
      </nz-input-group>
      <ng-template #Prefixuser><i nz-icon nzType="user"></i></ng-template>
      <ng-template #suffixIconInfo><i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="長度小於20"></i></ng-template>
    </div>
    <div class="input">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </div>
    <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid">Log in</button>
    <button nz-button nzType="primary" type="button"  class="restart" (click)='registShow()'>regist</button>
  </form>
</div>

<div *ngIf="showRegist" class="login">
  <form [formGroup]='validateRegistForm' (ngSubmit)="submitRegistForm()">
    <div class="input">
      <nz-input-group [nzPrefix]="Prefixuser" [nzSuffix]="suffixIconInfo">
        <input formControlName="userName" nz-input placeholder="Username" />
      </nz-input-group>
      <ng-template #Prefixuser><i nz-icon nzType="user"></i></ng-template>
      <ng-template #suffixIconInfo><i nz-icon nzType="info-circle" nz-tooltip nzTooltipTitle="長度小於20"></i></ng-template>
    </div>
    <div class="input">
      <nz-input-group nzPrefixIcon="lock">
        <input formControlName="password" nz-input type="password" placeholder="Password" />
      </nz-input-group>
    </div>
    <button nz-button nzType="primary" type="submit" [disabled]="!validateRegistForm.valid">submit</button>
    <button nz-button nzType="primary" type="button"  class="restart" (click)='registCancel()'>cancel</button>
  </form>
</div>

