<h1>{{title}}</h1>
<nav>
  <ul>
    <li>
      <a [routerLink]="['/content']" [ngClass]="{'bg': classname, 'com': classname2} "  [ngStyle]="changestyle()">用戶管理</a>
    </li>
    <li>
      <a [routerLink]="['/father']">父子組件傳值</a>
    </li>
    <li>
      <a [routerLink]="['/direct']">屬性型指令</a>
    </li>
    <li>
      <a [routerLink]="['/structure']">自定義結構型指令</a>
    </li>
    <li>
      <a [routerLink]="['/pipestudy']">管道</a>
    </li>
    <li>
      <a [routerLink]="['/hook']">生命周期鈎子</a>
    </li>
    <li>
      <a [routerLink]="['/dynamic']">動態加載組件</a>
    </li>
  </ul>
</nav>

<input #box [(ngModel)]="num">
