<div class="lifecycle">
  <tr>
    <td>钩子方法</td>
    <td>用途</td>
    <td>時機</td>
  </tr>
  <tr>
    <td>ngOnChanges()</td>
    <td>当 Angular 设置或重新设置数据绑定的输入属性时响应。 该方法接受当前和上一属性值的 SimpleChanges 对象
      注意，这发生的非常频繁，所以你在这里执行的任何操作都会显著影响性能。 欲知详情，参阅本文档的使用变更检测钩子。</td>
    <td>在 ngOnInit() 之前以及所绑定的一个或多个输入属性的值发生变化时都会调用。
      注意，如果你的组件没有输入，或者你使用它时没有提供任何输入，那么框架就不会调用 ngOnChanges()。</td>
  </tr>
  <tr>
    <td>ngOnInit()</td>
    <td>在 Angular 第一次显示数据绑定和设置指令/组件的输入属性之后，初始化指令/组件。 欲知详情，参阅本文档中的初始化组件或指令。</td>
    <td>在第一轮 ngOnChanges() 完成之后调用，只调用一次。</td>
  </tr>
  <tr>
    <td>ngDoCheck()</td>
    <td>检测，并在发生 Angular 无法或不愿意自己检测的变化时作出反应。 欲知详情和范例，参阅本文档中的自定义变更检测。</td>
    <td>紧跟在每次执行变更检测时的 ngOnChanges() 和 首次执行变更检测时的 ngOnInit() 后调用。</td>
  </tr>
  <tr>
    <td>ngAfterContentInit()</td>
    <td>当 Angular 把外部内容投影进组件视图或指令所在的视图之后调用。欲知详情和范例，参阅本文档中的响应内容中的变更。</td>
    <td>第一次 ngDoCheck() 之后调用，只调用一次</td>
  </tr>
  <tr>
    <td>ngAfterContentChecked()</td>
    <td>每当 Angular 检查完被投影到组件或指令中的内容之后调用。欲知详情和范例，参阅本文档中的响应被投影内容的变更</td>
    <td>ngAfterContentInit() 和每次 ngDoCheck() 之后调用</td>
  </tr>
  <tr>
    <td>ngAfterViewInit()</td>
    <td>当 Angular 初始化完组件视图及其子视图或包含该指令的视图之后调用。欲知详情和范例，参阅本文档中的响应视图变更</td>
    <td>第一次 ngAfterContentChecked() 之后调用，只调用一次。</td>
  </tr>
  <tr>
    <td>ngAfterViewChecked()</td>
    <td>每当 Angular 做完组件视图和子视图或包含该指令的视图的变更检测之后调用</td>
    <td>ngAfterViewInit() 和每次 ngAfterContentChecked() 之后调用。</td>
  </tr>
  <tr>
    <td>ngOnDestroy()</td>
    <td>每当 Angular 每次销毁指令/组件之前调用并清扫。 在这儿反订阅可观察对象和分离事件处理器，以防内存泄漏。 欲知详情，参阅本文档中的在实例销毁时进行清理。</td>
    <td>在 Angular 销毁指令或组件之前立即调用。</td>
  </tr>
</div>
