<div 
    class="animate" 
    [@state]="animates.animateOne.state"
    (click)="toggleState(animates.animateOne)"
>
    <p>{{animates.animateOne.content}}</p>
</div>

<div>
    <button nz-button nzType="primary" (click)='show=!show'>Show</button>
    <div 
        class="animate"
        *ngIf="show"
        [@flyInOut]="'in'"
    >
        <p>{{animates.animateTwo.content}}</p>
    </div>
</div>

<div
    class="animate"
    (@flyInOut2.start)='animationStarted($event)'
    (@flyInOut2.done)='animationDone($event)'
    [@flyInOut2]="'in'"
>
    <p>多阶段动画</p>
</div>