/* You can add global styles to this file, and also import other style files */

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
};
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: ligter;
}
body{
  background-color: #f3f6f8;
}
body,input[text],button {
  color: #888;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  background-color: rgba(20, 17, 17, 0.295);
  border-radius: 4px;
}

.ant-comment-inner {
  padding: 0px;
}
